<div class="container-fluid">
    <h3>Welcome!</h3>
    <div class="card">
        <div class="container mt-3">

            <!-- Nav Tabs -->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" id="navtab" href="#recent">Recent</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="navtab" href="#due">Due</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="navtab" href="#pending">Pending</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="navtab" href="#paid">Paid</a>
              </li>
            </ul>
            <!-- End of Nav Tabs -->

            <!-- Table Content -->
            <div class="tab-content">

              <!-- Recent Tab -->
            {{#if Invoices}}
            {{#each Invoices}}
              <div id="recent" class="container tab-pane active"><br>
                <table id="table" class="table-responsive table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Invoice {{this.DataValue.id}}</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                </table>
              </div>
              {{/each}}
              {{/if}}

              <!-- Due Tab -->
              <div id="due" class="container tab-pane fade"><br>
                <table id="table" class="table-responsive table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Invoice</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                </table>
              </div>

              <!-- Pending Tab -->
              <div id="pending" class="container tab-pane fade"><br>
                <table id="table" class="table-responsive table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Invoice</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                </table>
              </div>

              <!-- Paid Tab -->
              <div id="paid" class="container tab-pane fade"><br>
                <table id="table" class="table-responsive table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Invoice</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
