<!-- Main Content -->
<div class= "container-fluid">
    <div class="row">
        <div class="card">
            <h2>Miguel Appliance Inc.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque congue justo est, sed vestibulum enim tristique vitae. Pellentesque sed mauris turpis. Pellentesque quis ligula ultricies, vulputate tellus nec, facilisis tellus. Duis aliquet mauris dolor, id semper diam luctus ut. Sed sit amet tellus pretium, mollis tellus non, facilisis libero. Morbi tincidunt arcu id turpis tincidunt aliquam. Vestibulum quis tempor lacus. Ut pharetra sem nulla, maximus lobortis nisl pellentesque in. Suspendisse tellus lacus, auctor pellentesque lorem id, molestie eleifend leo. Quisque odio turpis, interdum a scelerisque eget, auctor quis dolor. Mauris hendrerit ipsum varius gravida efficitur. Duis in suscipit augue, at bibendum purus. Nunc eget ex convallis, pharetra felis nec, volutpat justo.</p>
            <br>
            <p>Suspendisse at mi eu sem porttitor venenatis. Aliquam eu erat vel quam porta luctus. Proin vel enim porta, tincidunt ligula quis, sollicitudin dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nulla orci, consectetur a dapibus a, sagittis id urna. Aliquam at lacinia metus, ac tempus erat. Ut accumsan, lectus nec scelerisque ultricies, neque libero vulputate risus, nec tincidunt ante lectus eget mi. Morbi imperdiet, eros a pellentesque sagittis, odio lacus pulvinar sem, in rhoncus leo nunc id sapien. Aenean non lacinia nulla, placerat blandit nunc.</p>
        </div>
    </div>
</div>